<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Digital signage">
    <meta name="author" content="Ana Žunić">

    <link rel="icon" href="/img/favicon-desktop.ico">
    <title>Digital signage</title>

    <!-- css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/fontawesome.css">
    <link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/css/dropzone.css">


    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/fontawesome.js"></script>
    <script src="/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/js/dropzone.js"></script>

</head>
<body>

    <% if (typeof login == 'object' && login) { %>
        
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
              <a class="navbar-brand" href="/"><span class="fa fa-tv"></span> Digital signage</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" 
                  data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
              </button>
            </nav>

        <%- body %>
        
        <footer class="footer">
          <div class="container">
            <span class="text-muted">Copyright &copy; 2018 Digital signage - Ana Žunić</span>
          </div>
        </footer>
    <% } else{ %>

        <% if (user.isAdmin) { %>

            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
              <a class="navbar-brand" href="/company/list"><span class="fa fa-tv"></span> Digital signage</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" 
                  data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li id="nav-item-company" class="nav-item active">
                        <a class="nav-link" href="/company/list">Kompanije </a>
                    </li>
                    <li id="nav-item-users" class="nav-item">
                        <a class="nav-link" href="/user/list">Korisnici</a>
                    </li>
                </ul>
                <div class="my-2 my-lg-0">
                  <ul class="navbar-nav mr-auto">
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" >
                          <span class="fa fa-user"></span> <span id="usernameSpan" >test</span> <span class="caret"></span>
                        </a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="/logout">Odjava</a>
                        </div>
                      </li>
                  </ul>
                </div>
              </div>
            </nav>
            


            <!-- main -->
            <main id="site-main">
            <div class="container">
                <%- body %>
            </div>
            </main>

            <footer class="footer">
              <div class="container">
                <span class="text-muted">Copyright &copy; 2018 Digital signage - Ana Žunić</span>
              </div>
            </footer>



        <% } else{ %>

            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
              <a class="navbar-brand" href="/video/list"><span class="fa fa-tv"></span> Digital signage</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" 
                  data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" id="nav-item-video" href="#" 
                            id="navbarDropdown" role="button" 
                            data-toggle="dropdown" >
                          Videa
                        </a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="/video/list">Lista videa</a>
                          <a class="dropdown-item" href="/video/upload">Dodaj video</a>
                        </div>
                    </li>
                    <li id="nav-item-device" class="nav-item">
                        <a class="nav-link" href="/device/list">Uređaji </a>
                    </li>
                    <li id="nav-item-group" class="nav-item">
                        <a class="nav-link" href="/group/list">Grupe</a>
                    </li>
                    <li id="nav-item-playlist" class="nav-item">
                        <a class="nav-link" href="/playlist/list">Popisi</a>
                    </li>
                </ul>
                <div class="my-2 my-lg-0">
                  <ul class="navbar-nav mr-auto">
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" >
                          <span class="fa fa-user"></span> <span id="usernameSpan" >test</span> <span class="caret"></span>
                        </a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="/logout">Odjava</a>
                        </div>
                      </li>
                  </ul>
                </div>
              </div>
            </nav>

            <!-- main -->
            <main id="site-main" style="overflow-y: auto;overflow-x: auto;">
            <div class="container" >
                <%- body %>
            </div>
            </main>

            <!-- footer -->
            <footer class="footer">
              <div class="container">
                <span class="text-muted">Copyright &copy; 2018 Digital signage - Ana Žunić</span>
              </div>
            </footer>
        <% } %>
    
    <% } %>
</body>
</html>
