<form action="/playlist/save" method="post">
  <div class="card border-dark mb-3">
      <div class="card-header"> Ažuriraj popis</div>
      <div class="card-body">

      <input type="hidden" class="form-control" id="id" name="id" value="<%= pl.id %>">

        <div class="form-group">
              <label for="name">Naziv </label>
              <input type="text" class="form-control" id="name" name="name" placeholder="Naziv" 
              value="<%= pl.name %>" required>
            
            </div>

            <div class="form-group">
              <label for="startTime">Vrijeme </label>
              <input type="text" value="<%= moment(pl.startTime).format("YYYY-MM-DD HH:mm") %>"
              class="form-control" id="startTime" name="startTime" placeholder="Vrijeme" required>
            </div>

      <div class="form-group">
        <label for="description">Napomena </label>
        <input type="tel" class="form-control" id="description" name="description" 
        value="<%= pl.description %>" placeholder="Napomena">
      </div>

      

      <input type="hidden" class="form-control" id="items" name="items" value="<%= itemsHidden %>">

      

      </div>
  </div>

  <% if(allVideos.length > 0) { %>

    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Naziv</th>
            <th scope="col" class="d-none d-sm-table-cell">Trajanje</th>
            <th scope="col" class="d-none d-sm-table-cell">Veličina</th>
            <th scope="col" class="d-none d-sm-table-cell">Format</th>
          </tr>
        </thead>
        <tbody>
      
        <% allVideos.forEach(function(vid, index) { %>
          <tr id="video-<%= vid.id %>">
              <th scope="row" style="text-align: center;cursor: pointer;" 
              id="add-video-<%= vid.id %>" 
              onclick="addVideo(this);"> 
                <span class="fa fa-plus-circle" style="color:#1B855C; font-size:23px;"></span>
              </th>
              <td> <%= vid.name %> </td>
              <td class="d-none d-sm-table-cell"> <%= vid.duration %> s </td>
              <td class="d-none d-sm-table-cell"> <%= vid.size %> MB </td>
              <td class="d-none d-sm-table-cell"> <%= vid.format %> </td>
            </tr>
        <% }); %>

        </tbody>
      </table>
    </div>

  <% } else{ %>

    <div class="row" style="margin-bottom: 50px;">
        <div class="col-xs-12 no-padding full-width text-center">
            Nema videa!
        </div>
    </div>

  <% } %>

  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Naziv</th>
          <th scope="col" class="d-none d-sm-table-cell">Trajanje</th>
          <th scope="col" class="d-none d-sm-table-cell">Veličina</th>
          <th scope="col" class="d-none d-sm-table-cell">Format</th>
        </tr>
      </thead>
      <tbody id="addedVideos">
        <% if(allPlItems.length > 0) { %>
        <% allPlItems.forEach(function(item, index) { %>
          <tr id="added-<%= item.position %>-video-<%= item.videoId %>">
              <th scope="row" style="text-align: center;cursor: pointer;" 
              id="remove-added-<%= item.position %>-video-<%= item.videoId %>" 
              onclick="removeVideo(this);"> 
                <span class="fa fa-times" style="color:#c2535f; font-size:23px;"></span>
              </th>
              <td> <%= item.videoItem.name %> </td>
              <td class="d-none d-sm-table-cell"> <%= item.videoItem.duration %> s </td>
              <td class="d-none d-sm-table-cell"> <%= item.videoItem.size %> MB </td>
              <td class="d-none d-sm-table-cell"> <%= item.videoItem.format %> </td>
            </tr>
        <% }); %>
        <% } else { %>
        <tr id="emptyRow">
            <td colspan="5" class="text-center">Nema odabranih videa!</td>
          </tr>
      <% } %>

        
        
      </tbody>
    </table>
  </div>

  <div class="row" style="margin-top: 15px;margin-bottom: 30px;">

      <div class="offset-md-10 col-md-2 col-xs-12 no-padding">
        <button type="submit" class="btn btn-outline-dark full-width">Ažuriraj <i class="fa fa-plus-circle"> </i></button>
          
      </div>
  </div>

</form>


            

<script>
  $("#usernameSpan").text('<%- user.firstName %>');
  $("nav .active").removeClass("active");
  $("#nav-item-playlist").addClass("active");
  $(function () {
    $('#startTime').datetimepicker({
       "weekStart": 1, // day of the week start. 0 for Sunday - 6 for Saturday
       "autoclose": true,
       "format": "dd-mm-yyyy hh:ii",
     });
  });

  var counter = parseInt('<%= allPlItems.length + 1%>');
  console.log("counter is: " + counter.toString());

    function addVideo(element){
      console.log("addVideo");
      console.log(element.id);
        var vidId = element.id.split('-')[2];
        console.log(vidId);
        var wholeRow = $("#video-"+vidId).clone();
        var newId = "added-" + counter.toString() + "-video-" + vidId;
        counter+=1;

        var replacementDiv = '<th scope="col" style="text-align: center;cursor: pointer;" id="remove-' + newId + '" onclick="removeVideo(this);"><span class="fa fa-times" style="color:#c2535f;font-size:23px;"></span></th>';

        wholeRow.attr("id", newId);
        wholeRow.children().first().replaceWith(replacementDiv);
        $("#emptyRow").remove();
        $("#addedVideos").append(wholeRow);
        var items = $("#items").val();
        $("#items").val(items + newId + ",");

        $("html, body").animate({ scrollTop: $(document).height() }, "slow");
    }

    function removeVideo(element){
        console.log("removeVideo");
        var elementId = element.id.replace('remove-','');
        console.log(elementId);
        $("#"+elementId).remove();
        if($("#addedVideos").children().length == 0){
          var emptyRow = '<tr id="emptyRow"><td colspan="5" class="text-center">Nema odabranih videa!</td></tr>';
          $("#addedVideos").append(emptyRow);
          $("#items").val("");
          counter = 1;
        }

        itemsList = $("#items").val().split(',');
        var index = itemsList.indexOf(elementId);
        console.log("after remove, current itemsList");
        console.log(itemsList);
        if (index !== -1) {
        itemsList.splice(index, 1);
    }
    var newItemList = [];
    for(var i=0;i<itemsList.length;i++){
      if(itemsList[i] != ""){
        console.log("changing id: " + itemsList[i]);
        var currId = itemsList[i].split('-')[3];
        var newId = "added-" + (i+1).toString() + "-video-" + currId.toString();
        var newRemoveId = "remove-added-" + (i+1).toString() + "-video-" + currId.toString();
        console.log("changing id: " + itemsList[i]);
        console.log("changing remove id: " + itemsList[i]);
        $("#remove-"+itemsList[i]).attr("id", newRemoveId);
        $("#"+itemsList[i]).attr("id", newId);
        newItemList.push(newId);
      }
    }
    $("#items").val(newItemList.toString());
    }

</script>