
<div class="row" style="margin-bottom: 50px;">
    <div class="col-md-2 col-xs-12 no-padding">
        <a href="/playlist/create" class="btn btn-outline-dark full-width"> 
            Kreiraj&nbsp;&nbsp;<i class="fa fa-plus"> </i> 
        </a>
    </div>
</div>

<% if ( typeof message == 'object' && message) { %>
	<div id="alertWrapper" class="alert alert-<%= message.type %> alert-dismissible fade show" role="alert">
		<%= message.text %> 
		<button type="button" class="close" data-dismiss="alert">
			<span>&times;</span>
		</button>
	</div>

<% } %>

<% if(allPlaylists.length > 0) { %>

  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Naziv</th>
          <th scope="col" class="d-none d-sm-table-cell">Vrijeme</th>
          <th scope="col" class="d-none d-sm-table-cell">Napomena</th>
          <th scope="col">Ukloni</th>
        </tr>
      </thead>
      <tbody>
    
      <% allPlaylists.forEach(function(pl, index) { %>
        <tr>
            <th scope="row"> <%= index + 1 %> </th>
            <td> <a href="/playlist/show/<%= pl.id %>"> <%= pl.name %> </a> </td>
            <td class="d-none d-sm-table-cell"> <%= moment(pl.startTime).format("YYYY-MM-DD HH:mm") %> </td>
            <td class="d-none d-sm-table-cell"> <%= pl.description %>  </td>
            <td> 
              <a href="/playlist/delete/<%= pl.id %>" data-toggle="modal" data-target="#deleteModal" 
                data-playlistname="<%= pl.name %>" data-playlistid="<%= pl.id %>"> 
                <span class="fa fa-trash icon" style="color: red;"></span> 
              </a>  
            </td>
          </tr>
      <% }); %>
      </tbody>
    </table>
  </div>

<% } else{ %>

  <div class="row" style="margin-bottom: 50px;">
      <div class="col-xs-12 no-padding full-width text-center">
          Nema popisa!
      </div>
  </div>

<% } %>



<div class="modal" id="deleteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Potvrda</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span >&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Jeste li sigurni da želite ukloniti popis ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Ne</button>

    	<a id="modalUrl" href="#" class="btn btn-danger"> Da </a>

      </div>
    </div>
  </div>
</div>

<script>
	$("#usernameSpan").text('<%- user.firstName %>');
	$("nav .active").removeClass("active");
	$("#nav-item-playlist").addClass("active");
	$("#alertWrapper").fadeTo(2000, 500).slideUp(500, $("#alertWrapper").slideUp(500)); 
	$('#deleteModal').on('show.bs.modal', function (event) {
	  var button = $(event.relatedTarget); // Button that triggered the modal
	  var popis = button.data('playlistname'); // Extract info from data-* attributes
	  var id = button.data("playlistid");
	  var modal = $(this);
	  var newTitle = 'Jeste li sigurni da želite ukloniti popis "' + popis + '" ?';
	  modal.find('.modal-body p').text(newTitle);
	  $("#modalUrl").attr("href", "/playlist/delete/" + id);
	});
</script>