<div class="card border-dark mb-3">
    <div class="card-header"> Popis</div>
    <div class="card-body">
        <div class="row bot-margin">
            <div class="col-md-6 col-xs-6 text-right"> Naziv: </div>
            <div class="col-md-6 col-xs-6"> <%= pl.name %> </div>
        </div>
        <div class="row bot-margin">
            <div class="col-md-6 col-xs-6 text-right"> Vrijeme: </div>
            <div class="col-md-6 col-xs-6"> <%= moment(pl.startTime).format("YYYY-MM-DD HH:mm") %> </div>
        </div>
        
        <div class="row bot-margin">
            <div class="col-md-6 col-xs-6 text-right"> Korištena videa: </div>
            <div class="col-md-6 col-xs-6"> 
                <% pl.videos.forEach(function(vid, index) { %>
                    
                    <a href="<%= rootURL + vid.name %>" target="_blank"> 
                        <span class="fa fa-play icon" style="color: #343a40;"></span> 
                    </a>&nbsp;
                    <a href="/video/show/<%= vid.id%>" ><%= vid.name%> </a><br>

                <% }); %>
            </div>
        </div>

        <div class="row bot-margin" >
            <div class="col-md-6 col-xs-6 text-right"> Napomena: </div>
            <div class="col-md-6 col-xs-6"> <%= pl.description %> </div>
        </div>

    </div>

</div>

<div class="row buttonsRow" style="padding-right: 15px;padding-left: 15px;">
    <div class="offset-md-6 col-md-2 col-xs-12 firstButton"> 
        <a href="/playlist/publish/<%= pl.id %>" class="btn btn-outline-dark full-width"> 
            Pošalji&nbsp;&nbsp;<i class="fa fa-play"> </i> 
        </a>
    </div>
    <div class="col-md-2 col-xs-12 firstButton"> 
        <a href="/playlist/edit/<%= pl.id %>" class="btn btn-outline-dark full-width"> 
            Ažuriraj&nbsp;&nbsp;<i class="fa fa-edit"> </i> 
        </a>
    </div>
    <div class="col-md-2 col-xs-12 btn btn-danger full-width" data-toggle="modal" 
    data-target="#deleteModal" data-playlistname="<%= pl.name %>" data-playlistid="<%= pl.id %>"> 
            Ukloni&nbsp;&nbsp;<i class="fa fa-trash"> </i> 
    </div>
</div>

<div class="modal" id="deleteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Potvrda</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span >&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Jeste li sigurni da želite ukloniti popis ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Ne</button>

        <a id="modalUrl" href="#" class="btn btn-danger"> Da </a>

      </div>
    </div>
  </div>
</div>

<script>
    $("#usernameSpan").text('<%- user.firstName %>');
    $("nav .active").removeClass("active");
    $("#nav-item-playlist").addClass("active");

    $('#deleteModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget); // Button that triggered the modal
      var popis = button.data('playlistname'); // Extract info from data-* attributes
      var id = button.data("playlistid");
      var modal = $(this);
      var newTitle = 'Jeste li sigurni da želite ukloniti popis "' + popis + '" ?';
      modal.find('.modal-body p').text(newTitle);
      $("#modalUrl").attr("href", "/playlist/delete/" + id);
    });
</script>