<div class="row" style="margin-bottom: 50px;">
    <div class="col-md-2 col-xs-12 no-padding">
        <a href="/video/upload" class="btn btn-outline-dark full-width"> 
            Dodaj&nbsp;&nbsp;<i class="fa fa-plus"> </i> 
        </a>
    </div>
</div>


<% if ( typeof message == 'object' && message) { %>
    <div id="alertWrapper" class="alert alert-<%= message.type %> alert-dismissible fade show" role="alert">
        <%= message.text %> 
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
    </div>
<% } %>

<% if(allVideos.length > 0) { %>
    
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Naziv</th>
              <th scope="col" class="d-none d-sm-table-cell">Rezolucija</th>
              <th scope="col" class="d-none d-sm-table-cell">Veličina</th>
              <th scope="col">Ukloni</th>
            </tr>
          </thead>
          <tbody>
      
        <% allVideos.forEach(function(vid, index) { %>
            <tr>
              <th> <%= index + 1 %> </th>
              <td> 
                <a href="<%= rootURL + vid.name %>" target="_blank"> <span class="fa fa-play icon" style="color: #343a40;"></span></a>&nbsp;&nbsp; 
                <a href="/video/show/<%= vid.id %>"> <%= vid.name %> </a> 
              </td>
              <td class="d-none d-sm-table-cell"> <%= vid.format %>  </td>
              <td class="d-none d-sm-table-cell"> <%= vid.size %> MB </td>
              <td> 
                <a href="/video/delete/<%= vid.id %>" data-toggle="modal" data-target="#deleteModal" 
                    data-videoname="<%= vid.name %>" data-videoid="<%= vid.id %>"> 
                    <span class="fa fa-trash icon" style="color: red;"></span> 
                </a>  
              </td>
            </tr>
        <% }); %>

            </tbody>
        </table>
    </div>

    

<% } else{ %>
<div class="row" style="margin-bottom: 50px;">
    <div class="col-xs-12 no-padding full-width text-center">
        Nema dodanih videa!
    </div>
</div>

<% } %>


<div class="modal" id="deleteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Potvrda</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span >&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Jeste li sigurni da želite ukloniti video ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Ne</button>
        <a id="modalUrl" href="#" class="btn btn-danger"> Da </a>
      </div>
    </div>
  </div>
</div>
    
<script>
    $("#usernameSpan").text('<%- user.firstName %>');
    $("#alertWrapper").fadeTo(2000, 500).slideUp(500, $("#alertWrapper").slideUp(500)); 
    $('#deleteModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget); // Button that triggered the modal
      var video = button.data('videoname'); // Extract info from data-* attributes
      var id = button.data("videoid");
      var modal = $(this);
      var newTitle = 'Jeste li sigurni da želite ukloniti video "' + video + '" ?';
      modal.find('.modal-body p').text(newTitle);
      $("#modalUrl").attr("href", "/video/delete/" + id);
    });
</script>
