<div class="card border-dark mb-3">
    <div class="card-header"> Video</div>
    <div class="card-body">
        <div class="row bot-margin">
            <div class="col-md-6 col-xs-6 text-right"> Naziv: </div>
            <div class="col-md-6 col-xs-6"> <%= vid.name %> </div>
        </div>
        <div class="row bot-margin">
            <div class="col-md-6 col-xs-6 text-right"> Trajanje: </div>
            <div class="col-md-6 col-xs-6"> <%= vid.duration %> s</div>
        </div>
        <div class="row bot-margin">
            <div class="col-md-6 col-xs-6 text-right"> Format: </div>
            <div class="col-md-6 col-xs-6"> <%= vid.format %> </div>
        </div>
        <div class="row bot-margin">
            <div class="col-md-6 col-xs-6 text-right"> Veličina: </div>
            <div class="col-md-6 col-xs-6"> <%= vid.size %> MB</div>
        </div>
        <div class="row bot-margin">
            <div class="col-md-6 col-xs-6 text-right"> URL: </div>
            <div class="col-md-6 col-xs-6"> 
                <a href="<%= rootURL + vid.name %>" target="_blank"> 
                    <span class="fa fa-play icon" style="color: #343a40;"></span> 
                </a>  
            </div>
        </div>

    </div>

</div>

<div class="row" style="padding-right: 15px; padding-left: 15px;">
    <div class="offset-md-10 col-md-2 col-xs-12 btn btn-danger full-width" data-toggle="modal" 
    data-target="#deleteModal" data-videoname="<%= vid.name %>" data-videoid="<%= vid.id %>"> 
            Ukloni&nbsp;&nbsp;<i class="fa fa-trash"> </i> 
    </div>
</div>

<div class="modal" id="deleteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Potvrda</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span >&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Jeste li sigurni da želite ukloniti video ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Ne</button>

        <a id="modalUrl" href="#" class="btn btn-danger"> Da </a>

      </div>
    </div>
  </div>
</div>

<script>
    $("#usernameSpan").text('<%- user.firstName %>');
    $('#deleteModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget); // Button that triggered the modal
      var video = button.data('videoname'); // Extract info from data-* attributes
      var id = button.data("videoid");
      var modal = $(this);
      var newTitle = 'Jeste li sigurni da želite ukloniti video  "' + video + '" ?';
      modal.find('.modal-body p').text(newTitle);
      $("#modalUrl").attr("href", "/video/delete/" + id);
    });
</script>