
<form action="/video/uploadVideo" 
    name="uploadForm"
    id="uploadForm"
    class="dropzone dz-clickable">
    <div class="dz-default dz-message">
        <span>click/drop to upload videos</span>
    </div>
</form>




<script>
    $("#usernameSpan").text('<%- user.email %>');
    // sleep time expects milliseconds
    function sleep (time) {
      return new Promise((resolve) => setTimeout(resolve, time));
    }

    Dropzone.options.uploadForm = {
        url: "/video/uploadVideo",
        paramName: "video",
        addRemoveLinks: true,
        maxFiles: 5,
        parallelUploads: 5,
        maxFilesize: 1000,          // MB
        acceptedFiles: ".mp4",
        init: function () {
            this.on("complete", function (file) {
              if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
                console.log("all files processed!");
                sleep(500).then(() => {
                    // Do something after the sleep!
                    window.location.href = ("/video/list");
                });
                
              }
            });
          }
    }
</script>