<form action="/device/save" method="post">

    <div class="card border-dark mb-3">
        <div class="card-header"> Kreiraj novi uređaj</div>
        <div class="card-body">

          <div class="form-group">
            <label for="name">Naziv uređaja </label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Naziv uređaja" required>
          </div>

          <div class="form-group">
            <label for="place">Mjesto uređaja   </label>
            <input type="text" class="form-control" id="place" name="place" placeholder="Mjesto uređaja ">
          </div>

          <div class="form-group">
            <label for="macaddress">MAC adresa </label>
            <input type="text" maxlength="30" class="form-control" id="macaddress" name="macaddress" placeholder="MAC adresa" required>
          </div>

          <div class="form-group">
            <label for="description">Opis</label>
            <input type="text" class="form-control" id="description" name="description" placeholder="Opis" >
          </div> 
        </div>
    </div>

    <div class="row" style="margin-top: 15px;">

        <div class="offset-md-10 col-md-2 col-xs-12 no-padding">
            <button type="submit" class="btn btn-outline-dark full-width">Kreiraj <i class="fa fa-plus-circle"> </i></button>
            
        </div>
    </div>

</form>

<script>
  //da u gornjem desnom kutu ostaje vidljivo ime trenutnog logiranog usera 
    $("#usernameSpan").text('<%- user.firstName %>');

//sluze kako bi oznacili trenutno aktivni tab u navigaciji 
     $("nav .active").removeClass("active");
    $("#nav-item-device").addClass("active");
</script>