<form action="/device/save" method="post">

    <div class="card border-dark mb-3">
        <div class="card-header"> Ažuriraj uređaj</div>
        <div class="card-body">




        <input type="hidden" class="form-control" id="id" name="id" value="<%= dev.id %>">

        <div class="form-group">
          <label for="name"> Naziv uređaja </label>
          <input type="text" class="form-control" id="name" name="name" 
          placeholder="Naziv uređaja"
          value="<%= dev.name %>" required>

        </div>

        <div class="form-group">
          <label for="place">Mjesto uređaja </label>
          <input type="text" class="form-control" id="place" name="place" 
          placeholder="Mjesto uređaja"  value="<%= dev.place %>">
        </div>

        <div class="form-group">
          <label for="macaaddress"> Mac Adresa </label>
          <input type="text" minlength="20" maxlength="20" class="form-control" id="macaddress" name="macaddress" 
          placeholder="Mac adresa"  value="<%= dev.macaddress %>" required>
        </div>

        <div class="form-group">
          <label for="descripton">Opis </label>
          <input type="description" class="form-control" id="description" name="description" placeholder="Opis" value="<%= dev.description %>">
        </div>


        </div>
    </div>

    <div class="row" style="margin-top: 15px;">

        <div class="offset-md-10 col-md-2 col-xs-12 no-padding">
            <button type="submit" class="btn btn-outline-dark full-width">Ažuriraj <i class="fa fa-plus-circle"> </i></button>
            
        </div>
    </div>

</form>

<script>
    $("#usernameSpan").text('<%- user.firstName %>');
</script>