<div class="row" style="margin-bottom: 50px;">
    <div class="col-md-2 col-xs-12 no-padding">
      <label for="filter">Filter </label> 
      <input type="checkbox" class="table-checkbox" id="filter" name="filter" onclick="reloadPage()">
    </div>
</div>

<% if(allLogs.length > 0) { %>

  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Tekst</th>
          <th scope="col" class="d-none d-sm-table-cell">Datum</th>
        </tr>
      </thead>
      <tbody>
    
      <% allLogs.forEach(function(log, index) { %>
        <tr>
            <th scope="row"> <%= index + 1 %> </th>
            <td> <%= log.logstring %> </td>
            <td class="d-none d-sm-table-cell"> <%= moment(log.createdAt).format("YYYY-MM-DD HH:mm:ss")  %>  </td>
            
      
          </tr>
      <% }); %>
      </tbody>
    </table>
  </div>

<% } else{ %>

  <div class="row" style="margin-bottom: 50px;">
      <div class="col-xs-12 no-padding full-width text-center">
          Nema Logova!
      </div>
  </div>

<% } %>

  
<script>
  $("#usernameSpan").text('<%- user.firstName %>');
  $("nav .active").removeClass("active");
  $("#nav-item-device").addClass("active");

  console.log("logfilter: ");
  console.log("<%- logfilter %>");
  if("<%- logfilter %>" == "true"){
    console.log("logfilter true");
    document.getElementById('filter').checked = true;
  }else{
    console.log("logfilter false");
    document.getElementById('filter').checked = false;
  }

  function reloadPage(){
    console.log("reloadPage");
    if(document.getElementById('filter').checked == true) {
      console.log(true);
      console.log("/device/logs/" + "<%- deviceId %>" + "/1");
        window.location.href = ("/device/logs/" + "<%- deviceId %>" + "/1");
    } else {
      console.log(false);
      console.log("/device/logs/" + "<%- deviceId %>" + "/0");
        window.location.href = ("/device/logs/" + "<%- deviceId %>" + "/0");
    }
  }
  



</script>