<div class="card border-dark mb-3"> 
    <div class="card-header">Uređaj </div>
    <div class="card-body">

        <div class="row bot-margin"> 
            <div class="col-md-6 col-xs-6 text-right"> Ime: </div>
            <div class="col-md-6 col-xs-6"> <%= dev.name %> </div>
        </div> 
         <div class="row bot-margin"> 
            <div class="col-md-6 col-xs-6 text-right">Mjesto </div>
            <div class="col-md-6 col-xs-6"> <%= dev.place %> </div>
        </div> 
         <div class="row bot-margin"> 
            <div class="col-md-6 col-xs-6 text-right"> Opis</div>
            <div class="col-md-6 col-xs-6"> <%= dev.description %> </div>
        </div> 
         
         <div class="row bot-margin"> 
            <div class="col-md-6 col-xs-6 text-right"> MAC address: </div>
            <div class="col-md-6 col-xs-6"> <%= dev.macaddress %> </div>
        </div> 
         <div class="row bot-margin"> 
            <div class="col-md-6 col-xs-6 text-right"> Kreiran: </div>
            <div class="col-md-6 col-xs-6"> <%= moment(dev.createdAt).format("YYYY-MM-DD HH:mm") %> </div>
        </div> 
         <div class="row bot-margin"> 
            <div class="col-md-6 col-xs-6 text-right"> Ažuriran: </div>
            <div class="col-md-6 col-xs-6"> <%= moment(dev.updatedAt).format("YYYY-MM-DD HH:mm") %> </div>
        </div> 

       <div class="row bot-margin"> 
            <div class="col-md-6 col-xs-6 text-right"> Wi-fi setup: </div>
            <div class="col-md-6 col-xs-6"> <a href="/device/wifiSetup/<%-dev.id %>">Pošalji postavke </a> </div>

        </div>   
        

    </div>
</div>


<div class="row" style="padding-left:15px;padding-right:15px;">
    <div class="offset-md-8 col-md-2 col-xs-12">
        <a href="/device/edit/<%= dev.id %>" class="btn btn-outline-dark full-width">
             Ažuriraj&nbsp;&nbsp;<i class="fa fa-edit"> </i>
        </a>
    </div>
    <div class="col-md-2 col-xs-12 btn btn-danger full-width" data-toggle="modal" 
    data-target="#deleteModal" data-devicename="<%= dev.name %>" data-deviceid="<%= dev.id %>">
             Ukloni&nbsp;&nbsp;<i class="fa fa-trash"> </i>
    </div>
 </div>

 <div class="modal" id="deleteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Potvrda</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span >&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Jeste li sigurni da želite ukloniti uređaj?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Ne</button>
        <a id="modalUrl" href="#" class="btn btn-danger"> Da </a>
      </div>
    </div>
  </div>
</div>

<script>
    $("#usernameSpan").text('<%- user.firstName %>');

    $("nav .active").removeClass("active");
    $("#nav-item-users").addClass("active");

    $('#deleteModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget); // Button that triggered the modal
      var uredaj = button.data('device'); // Extract info from data-* attributes
      var id = button.data("deviceid");
      var modal = $(this);
      var newTitle = 'Jeste li sigurni da želite ukloniti uređaj "' + uredaj + '" ?';
      modal.find('.modal-body p').text(newTitle);
      $("#modalUrl").attr("href", "/device/delete/" + id);
    });
</script>


</div>