<form action="/device/saveWifi" method="post">

  <input type="hidden" class="form-control" id="id" name="id" value="<%- dev.id %>"> 


    
    <div class="card border-dark mb-3">
        <div class="card-header"> Nove wi-fi postavke za uredaj <%- dev.name %></div>
        <div class="card-body">

          <div class="form-group">
            <label for="name">Naziv mreže</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Naziv mreže" required>
          </div>

        
          <div class="form-group">
            <label for="type"  >Vrsta mreže </label>
            <select class="form-control" id="type" name="type">
             <option value="WPA/WPA2">WPA/WPA2 </option>
             <option value="WEP">WEP </option>
             <option value="OPEN">OPEN </option>
            </select>
            
          </div>

          <div class="form-group">
            <label for="password">Lozinka </label>
            <input type="text"  class="form-control" id="password" name="password" placeholder="lozinka" >
          </div>
  
        </div>
    </div>

    <div class="row" style="margin-top: 15px;">

        <div class="offset-md-10 col-md-2 col-xs-12 no-padding">
            <button type="submit" class="btn btn-outline-dark full-width">Kreiraj <i class="fa fa-plus-circle"> </i></button>
            
        </div>
    </div>

</form>

<script>
  //da u gornjem desnom kutu ostaje vidljivo ime trenutnog logiranog usera 
    $("#usernameSpan").text('<%- user.firstName %>');

//sluze kako bi oznacili trenutno aktivni tab u navigaciji 
     $("nav .active").removeClass("active");
    $("#nav-item-device").addClass("active");
</script>