<form action="/company/save" method="post">

    <div class="card border-dark mb-3">
        <div class="card-header"> Ažuriraj novu kompaniju</div>
        <div class="card-body">


        <input type="hidden" class="form-control" id="id" name="id" value="<%= comp.id %>">

        <div class="form-group">
          <label for="name"> Naziv kompanije </label>
          <input type="text" class="form-control" id="name" name="name" 
          placeholder="Naziv kompanije"
          value="<%= comp.name %>" required>

        </div>

        <div class="form-group">
          <label for="address">Adresa kompanije </label>
          <input type="text" class="form-control" id="address" name="address" 
          placeholder="Adresa kompanije"  value="<%= comp.address %>" required>
        </div>

        <div class="form-group">
          <label for="oib">OIB </label>
          <input type="text" minlength="9" maxlength="9" class="form-control" id="oib" name="oib" 
          placeholder="OIB"  value="<%= comp.oib %>" required>
        </div>

        <div class="form-group">
          <label for="phone">Telefon </label>
          <input type="tel" class="form-control" id="phone" name="phone" placeholder="Telefon" value="<%= comp.phone %>">
        </div>

        <div class="form-group">
          <label for="email">Email </label>
          <input type="email" class="form-control" id="email" name="email" 
          value="<%= comp.email %>" placeholder="Email">
        </div>

          

        </div>
    </div>

    <div class="row" style="margin-top: 15px;">

        <div class="offset-md-10 col-md-2 col-xs-12 no-padding">
            <button type="submit" class="btn btn-outline-dark full-width">Ažuriraj <i class="fa fa-plus-circle"> </i></button>
            
        </div>
    </div>

</form>

<script>
    $("#usernameSpan").text('<%- user.firstName %>');
</script>