<div class="row" style="margin-bottom:50px;"> 
    <div class="col-md-2 col-xs-12 no-padding"> 
        <a href="/company/create" class="btn btn-outline-dark full-width"> 
            Kreiraj &nbsp;&nbsp;<i class="fa fa-plus "> </i>
        </a>
    </div>
</div>

<% if (typeof message == 'object' && message) { %>

    <div id="alertWrapper" class="alert alert-<%= message.type %> alert-dismissable fade show"
        role="alert">
        <%= message.text %>
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
    </div>
    
<% } %>

<% if(allCompanies.length > 0) { %>
            
    <div class="table-responsive">
        <table class="table table-bordered table-hover"> 
         <thead  class="thead-dark"> 
            <tr> 
                <th scope="col">#</th>
                <th scope="col">Naziv</th>
                <th scope="col" class="d-none d-sm-table-cell">Adresa</th>
                <th scope="col"> Ukloni </th>
            </tr>
         </thead>
         <tbody>
             
              <% allCompanies.forEach(function(comp,index) { %> 
                <tr> 
                    <th scope="row"> <%= index + 1 %> </th>
                    <td> <a href="/company/show/<%= comp.id %>"> <%= comp.name %></a> </td>
                    <td class="d-none d-sm-table-cell"><%= comp.address %> </td>
                    <td> 
                    <a href="/company/delete/<%= comp.id %>" data-toggle="modal" data-target="#deleteModal"
                        data-companyname="<%= comp.name %>" data-companyid="<%= comp.id %>" >
                            <span class="fa fa-trash icon" style="color:red;"> </span>
                        </a>
                    </td>



                </tr>

              <% }); %>

         </tbody>
        </table>
    </div>

<% } else { %>

        <div class="row" style="margin-bottom: 50px;">
            <div class="col-xs-12 no-padding full-width text-center">
                
                Nema kompanija
             </div>
                    
        </div>

<%  } %>

<div class="modal" id="deleteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Potvrda</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span >&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Jeste li sigurni da želite ukloniti kompaniju ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Ne</button>

        <a id="modalUrl" href="#" class="btn btn-danger"> Da </a>

      </div>
    </div>
  </div>
</div>
  



<script>
    $("#usernameSpan").text('<%- user.firstName %>');
    $("#alertWrapper").fadeTo(2000, 500).slideUp(500, $("#alertWrapper").slideUp(500)); 
    $('#deleteModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget); // Button that triggered the modal
      var kompanija = button.data('companyname'); // Extract info from data-* attributes
      var id = button.data("companyid");
      var modal = $(this);
      var newTitle = 'Jeste li sigurni da želite ukloniti kompaniju "' + kompanija + '" ?';
      modal.find('.modal-body p').text(newTitle);
      $("#modalUrl").attr("href", "/company/delete/" + id);
    });
</script>