<div class="card border-dark mb-3"> 
    <div class="card-header">Kompanija </div>
    <div class="card-body">

        <div class="row bot-margin"> 
            <div class="col-md-6 col-xs-6 text-right"> Naziv: </div>
            <div class="col-md-6 col-xs-6"> <%= comp.name %> </div>
        </div> 
         <div class="row bot-margin"> 
            <div class="col-md-6 col-xs-6 text-right"> Adresa: </div>
            <div class="col-md-6 col-xs-6"> <%= comp.address %> </div>
        </div> 
         <div class="row bot-margin"> 
            <div class="col-md-6 col-xs-6 text-right"> OIB:</div>
            <div class="col-md-6 col-xs-6"> <%= comp.oib %> </div>
        </div> 
         <div class="row bot-margin"> 
            <div class="col-md-6 col-xs-6 text-right"> Telefon: </div>
            <div class="col-md-6 col-xs-6"> <%= comp.phone %> </div>
        </div> 
         <div class="row bot-margin"> 
            <div class="col-md-6 col-xs-6 text-right"> Email: </div>
            <div class="col-md-6 col-xs-6"> <%= comp.email %> </div>
        </div> 
        
    </div>
</div>


<div class="row" style="padding-left:15px;padding-right:15px;">
    <div class="offset-md-8 col-md-2 col-xs-12">
        <a href="/company/edit/<%= comp.id %>" class="btn btn-outline-dark full-width">
             Ažuriraj&nbsp;&nbsp;<i class="fa fa-edit"> </i>
        </a>
    </div>
    <div class="col-md-2 col-xs-12 btn btn-danger full-width" data-toggle="modal" 
    data-target="#deleteModal" data-companyname="<%= comp.name %>" data-companyid="<%= comp.id %>">
             Ukloni&nbsp;&nbsp;<i class="fa fa-trash"> </i>
    </div>
 </div>

 <div class="modal" id="deleteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Potvrda</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span >&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Jeste li sigurni da želite ukloniti kompaniju ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Ne</button>
        <a id="modalUrl" href="#" class="btn btn-danger"> Da </a>
      </div>
    </div>
  </div>
</div>

<script>
    $("#usernameSpan").text('<%- user.firstName %>');
    $('#deleteModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget); // Button that triggered the modal
      var kompanija = button.data('companyname'); // Extract info from data-* attributes
      var id = button.data("companyid");
      var modal = $(this);
      var newTitle = 'Jeste li sigurni da želite ukloniti kompaniju "' + kompanija + '" ?';
      modal.find('.modal-body p').text(newTitle);
      $("#modalUrl").attr("href", "/company/delete/" + id);
    });
</script>




























</div>