<form action="/user/save" method="post">

    <div class="card border-dark mb-3">
        <div class="card-header"> Kreiraj novog korisnika</div>
        <div class="card-body">

            <div class="form-group">
          <label for="firstName">Ime korisnika </label>
          <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Naziv korisnika" required>
        </div>

        <div class="form-group">
          <label for="lastName">Prezime korisnika  </label>
          <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Prezime korisnika " required>
        </div>

        <div class="form-group">
          <label for="about">Ukratko </label>
          <input type="text" maxlength="300" class="form-control" id="about" name="about" placeholder="Ukratko">
        </div>

        <div class="form-group">
          <label for="email">Email </label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Email" required="">
        </div> 

        <div class="form-group">
          <label for="companyId">Kompanija </label>
          <select id="companyId" name="companyId" class="form-control" required>
          <% allCompanies.forEach(function(c){ %> 
            <option value="<%= c.id %>"> <%= c.name %></option>
          <% }) %>

        </select>
        </div>

        <div class="form-group">
          <label for="password">Lozinka </label>
          <input type="password"  minLength="5" maxLength="12" class="form-control" id="password" name="password" placeholder="Lozinka" required="">
        </div>


        </div>
    </div>

    <div class="row" style="margin-top: 15px;">

        <div class="offset-md-10 col-md-2 col-xs-12 no-padding">
            <button type="submit" class="btn btn-outline-dark full-width">Kreiraj <i class="fa fa-plus-circle"> </i></button>
            
        </div>
    </div>

</form>

<script>
    $("#usernameSpan").text('<%- user.firstName %>');

     $("nav .active").removeClass("active");
    $("#nav-item-users").addClass("active");
</script>