<form action="/user/save" method="post">
    <div class="card border-dark mb-3">
        <div class="card-header"> Ažuriraj korisnika</div>
        <div class="card-body">
        <input type="hidden" class="form-control" id="id" name="id" value="<%= u.id %>" required>
            <div class="form-group">
          <label for="firstName">Ime </label>
          <input type="text" class="form-control" id="firstName" name="firstName" value="<%= u.firstName %>" required>
        </div>

        <div class="form-group">
          <label for="lastName">Prezime </label>
          <input type="text" class="form-control" id="lastName" name="lastName" value="<%= u.lastName %>" required>
        </div>

        <div class="form-group">
          <label for="companyId">Kompanija </label>
          <select id="companyId" name="companyId" class="form-control" required>

            <% allCompanies.forEach(function(c){ %>
              <% var selected = ( c.id == u.company.id ) ? "selected" : ""; %>
              <option value="<%= c.id %>" <%= selected %> ><%= c.name %></option>
            <% }) %>

          </select>
        </div>

        <div class="form-group">
          <label for="email">Email </label>
          <input type="email" class="form-control" id="email" name="email" value="<%= u.email %>" required>
        </div>

        <div class="form-group">
          <label for="password">Lozinka </label>
          <input type="text" class="form-control" id="password" name="password" placeholder="Lozinka">
        </div>

        <div class="form-group">
          <label for="about">Napomena </label>
          <input type="text" class="form-control" id="about" name="about" value="<%= u.about %>">
        </div>

        </div>
    </div>

    <div class="row" style="margin-top: 15px;">

        <div class="offset-md-10 col-md-2 col-xs-12 no-padding">
            <button type="submit" class="btn btn-outline-dark full-width">Ažuriraj <i class="fa fa-plus-circle"> </i></button>
            
        </div>
    </div>

</form>


            

<script>
    $("#usernameSpan").text('<%- user.firstName %>');
  $("nav .active").removeClass("active");
  $("#nav-item-users").addClass("active");
</script>