<div class="row" style="margin-bottom:50px;"> 
    <div class="col-md-2 col-xs-12 no-padding"> 
        <a href="/user/create" class="btn btn-outline-dark full-width"> 
            Kreiraj &nbsp;&nbsp;<i class="fa fa-plus "> </i>
        </a>
    </div>
</div>

<% if (typeof message == 'object' && message) { %>

    <div id="alertWrapper" class="alert alert-<%= message.type %> alert-dismissable fade show"
        role="alert">
        <%= message.text %>
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
    </div>
    
<% } %>

<% if(allUsers.length > 0) { %>
            
    <div class="table-responsive">
        <table class="table table-bordered table-hover"> 
         <thead  class="thead-dark"> 
            <tr> 
                <th scope="col">#</th>
                <th scope="col">Naziv</th>
                <th scope="col" class="d-none d-sm-table-cell">Email</th>
                <th scope="col"> Ukloni </th>
            </tr>
         </thead>
         <tbody>
             
              <% allUsers.forEach(function(user,index) { %> 
                <tr> 
                    <th scope="row"> <%= index + 1 %> </th>
                    <td> <a href="/user/show/<%= user.id %>"> <%= user.firstName %></a> </td>
                    <td class="d-none d-sm-table-cell"><%= user.email %> </td>
                    <td> 
                    <a href="/user/delete/<%= user.id %>" data-toggle="modal" data-target="#deleteModal"
                        data-username="<%= user.firstName %>" data-userid="<%= user.id %>" >
                            <span class="fa fa-trash icon" style="color:red;"> </span>
                        </a>
                    </td>



                </tr>

              <% }); %>

         </tbody>
        </table>
    </div>

<% } else { %>

        <div class="row" style="margin-bottom: 50px;">
            <div class="col-xs-12 no-padding full-width text-center">
                
                Nema korisnika
             </div>
                    
        </div>

<%  } %>

<div class="modal" id="deleteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Potvrda</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span >&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Jeste li sigurni da želite ukloniti korisnika ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Ne</button>

        <a id="modalUrl" href="#" class="btn btn-danger"> Da </a>


      </div>
    </div>
  </div>
</div>
  



<script>
    $("#usernameSpan").text('<%- user.firstName %>');

    $("nav .active").removeClass("active");
    $("#nav-item-users").addClass("active");

    $("#alertWrapper").fadeTo(2000, 500).slideUp(500, $("#alertWrapper").slideUp(500)); 
    $('#deleteModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget); // Button that triggered the modal
      var user = button.data('username'); // Extract info from data-* attributes
      var id = button.data("userid");
      var modal = $(this);
      var newTitle = 'Jeste li sigurni da želite ukloniti korisnika "' + user + '" ?';
      modal.find('.modal-body p').text(newTitle);
      $("#modalUrl").attr("href", "/user/delete/" + id);
    });
</script>