<div class="card border-dark mb-3">
  <div class="card-header"> Korisnik</div>
  <div class="card-body">
    <div class="row bot-margin">
      <div class="col-md-6 col-xs-6 text-right"> Ime: </div>
      <div class="col-md-6 col-xs-6"> <%= u.firstName %> </div>
    </div>
    <div class="row bot-margin">
      <div class="col-md-6 col-xs-6 text-right"> Prezime: </div>
      <div class="col-md-6 col-xs-6"> <%= u.lastName %> </div>
    </div>
    <div class="row bot-margin">
      <div class="col-md-6 col-xs-6 text-right"> Kompanija: </div>
      <div class="col-md-6 col-xs-6"> <%= u.company.name %> </div>
    </div>
    <div class="row bot-margin">
      <div class="col-md-6 col-xs-6 text-right"> Email: </div>
      <div class="col-md-6 col-xs-6"> <%= u.email %> </div>
    </div>
    <div class="row bot-margin">
      <div class="col-md-6 col-xs-6 text-right"> Napomena: </div>
      <div class="col-md-6 col-xs-6"> <%= u.about %> </div>
    </div>

  </div>

</div>

<div class="row">
  <div class="offset-md-8 col-md-2 col-xs-12"> 
    <a href="/user/edit/<%= u.id %>" class="btn btn-outline-dark full-width"> 
            Ažuriraj&nbsp;&nbsp;<i class="fa fa-edit"> </i> 
        </a>
  </div>
  <div class="col-md-2 col-xs-12 btn btn-danger full-width" data-toggle="modal" 
  data-target="#deleteModal" data-username="<%= u.firstName + u.lastName %>" data-userid="<%= u.id %>"> 
            Ukloni&nbsp;&nbsp;<i class="fa fa-trash"> </i> 
  </div>
</div>

<div class="modal" id="deleteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Potvrda</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span >&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Jeste li sigurni da želite ukloniti korisnika ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Ne</button>

      <a id="modalUrl" href="#" class="btn btn-danger"> Da </a>

      </div>
    </div>
  </div>
</div>

<script>
  $("#usernameSpan").text('<%- user.firstName %>');
  $("nav .active").removeClass("active");
  $("#nav-item-users").addClass("active");

  $('#deleteModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget); // Button that triggered the modal
    var korisnik = button.data('companyname'); // Extract info from data-* attributes
    var id = button.data("userid");
    var modal = $(this);
    var newTitle = 'Jeste li sigurni da želite ukloniti korisnika "' + korisnik + '" ?';
    modal.find('.modal-body p').text(newTitle);
    $("#modalUrl").attr("href", "/user/delete/" + id);
  });
</script>