<div class="container center">
    <div class="col-sm-6 offset-sm-3">

        <h1><span class="fa fa-sign-in-alt"></span>&nbsp;Prijavi se </h1>

        <% if(message.length > 0){ %>
            <div class="alert alert-danger"> <%= message %></div>
        <% } %>

        <form action="/login" method="post">
            <div class="form-group">
                <label> Email adresa </label>
                <input type="text" class="form-control" name="email">
            </div>

            <div class="form-group">
                <label> Lozinka </label>
                <input type="password" class="form-control" name="password">
            </div>

            <button type="submit" class="btn btn-warning btn-lg">Prijava </button>
        </form>

    </div>
</div>

