<form action="/group/save" method="post">
	<div class="card border-dark mb-3">
	    <div class="card-header"> Ažuriraj grupu</div>
	    <div class="card-body">

	    	<input type="hidden" class="form-control" id="id" name="id" value="<%= gr.id %>" required>

	    	<div class="form-group">
            	<label for="name">Naziv </label>
            	<input type="text" class="form-control" id="name" name="name" placeholder="Naziv" value="<%= gr.name %>" required>
          	</div>

			<div class="form-group">
				<label for="description">Napomena </label>
				<input type="tel" class="form-control" id="description" name="description" value="<%= gr.description %>" placeholder="Napomena">
			</div>
	    </div>
	</div>

	<% if(allDevices.length > 0) { %>

		<div class="table-responsive">
			<table class="table table-bordered table-hover">
			  <thead class="thead-dark">
			    <tr>
			      <th scope="col">Uređaji</th>
			      <th scope="col">Naziv</th>
			      <th scope="col">MAC adresa</th>
			      <th scope="col" class="d-none d-sm-table-cell">Mjesto</th>
			    </tr>
			  </thead>
			  <tbody>
		  
				<% allDevices.forEach(function(dev, index) { %>
					<tr>
				      <th scope="row" style="text-align: center;"> 
				      	<input type="checkbox" class="table-checkbox" name="dev-<%= dev.id %>" id="dev-<%= dev.id %>">
				      </th>
				      <td> <%= dev.name %> </td>
				      <td> <%= dev.macaddress %> </td>
				      <td class="d-none d-sm-table-cell"> <%= dev.place %> </td>
				    </tr>
				<% }); %>
				</tbody>
			</table>
		</div>

	<% } else { %>

		<div class="row" style="margin-bottom: 50px;">
		    <div class="col-xs-12 no-padding full-width text-center">
		        Nema uređaja!
		    </div>
		</div>

	<% } %>

	<% if(allPlaylists.length > 0) { %>

		<div class="table-responsive">
			<table class="table table-bordered table-hover">
			  <thead class="thead-dark">
			    <tr>
			      <th scope="col">Popisi</th>
			      <th scope="col">Naziv</th>
			      <th scope="col">Vrijeme</th>
			      <th scope="col" class="d-none d-sm-table-cell">Napomena</th>
			    </tr>
			  </thead>
			  <tbody>
		  
				<% allPlaylists.forEach(function(pl, index) { %>
					<tr>
				      <th scope="row" style="text-align: center;"> 
				      	<input type="checkbox" class="table-checkbox" name="pl-<%= pl.id %>" id="pl-<%= pl.id %>">
				      </th>
				      <td> <%= pl.name %> </td>
				      <td> <%= moment(pl.startTime).format("YYYY-MM-DD HH:mm") %> </td>
				      <td class="d-none d-sm-table-cell"> <%= pl.description %> </td>
				    </tr>
				<% }); %>
				</tbody>
			</table>
		</div>

	<% } else { %>

		<div class="row" style="margin-bottom: 50px;">
		    <div class="col-xs-12 no-padding full-width text-center">
		        Nema popisa!
		    </div>
		</div>

	<% } %>

	<div class="row" style="margin-top: 15px;margin-bottom: 30px;">
	    <div class="offset-md-10 col-md-2 col-xs-12 no-padding">
	    	<button type="submit" class="btn btn-outline-dark full-width">Ažuriraj <i class="fa fa-plus-circle"> </i></button>
	    </div>
	</div>



</form>



<script>
	$("#usernameSpan").text('<%- user.firstName %>');
	$("nav .active").removeClass("active");
	$("#nav-item-group").addClass("active");

	<% allGroupDevices.forEach(function(d, index) { %>
		$("#dev-" + '<%= d.id %>').attr("checked", true);
	<% }); %>

	<% gr.playlists.forEach(function(p, index) { %>
		$("#pl-" + '<%= p.id %>').attr("checked", true);
	<% }); %>

</script>