<div class="card border-dark mb-3">
	<div class="card-header"> Grupa </div>
	<div class="card-body">
		<div class="row bot-margin">
			<div class="col-md-6 col-xs-6 text-right"> Naziv: </div>
			<div class="col-md-6 col-xs-6"> <%= gr.name %> </div>
		</div>

		<div class="row bot-margin">
			<div class="col-md-6 col-xs-6 text-right"> Napomena: </div>
			<div class="col-md-6 col-xs-6"> <%= gr.description %> </div>
		</div>

		<div class="row bot-margin">
			<div class="col-md-6 col-xs-6 text-right"> Korišteni uređaji: </div>
			<div class="col-md-6 col-xs-6"> 
				<% allDevices.forEach(function(dev, index) { %>
			      	<a href="/device/show/<%= dev.id%>" ><%= dev.name%> </a><br>
				<% }); %>
			</div>
		</div>

		<div class="row bot-margin">
			<div class="col-md-6 col-xs-6 text-right"> Korišteni popisi: </div>
			<div class="col-md-6 col-xs-6"> 
				<% gr.playlists.forEach(function(pl, index) { %>
			      	<a href="/playlist/show/<%= pl.id%>" ><%= pl.name%> </a><br>
				<% }); %>
			</div>
		</div>

	</div>

</div>

<div class="row" style="padding-right: 15px; padding-left: 15px;">
	<div class="offset-md-8 col-md-2 col-xs-12"> 
		<a href="/group/edit/<%= gr.id %>" class="btn btn-outline-dark full-width"> 
            Ažuriraj&nbsp;&nbsp;<i class="fa fa-edit"> </i> 
        </a>
	</div>
	<div class="col-md-2 col-xs-12 btn btn-danger full-width" data-toggle="modal" 
	data-target="#deleteModal" data-groupname="<%= gr.name %>" data-groupid="<%= gr.id %>"> 
            Ukloni&nbsp;&nbsp;<i class="fa fa-trash"> </i> 
	</div>
</div>

<div class="modal" id="deleteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Potvrda</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span >&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Jeste li sigurni da želite ukloniti grupu ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Ne</button>
    	<a id="modalUrl" href="#" class="btn btn-danger"> Da </a>
      </div>
    </div>
  </div>
</div>

<script>
	$("#usernameSpan").text('<%- user.firstName %>');
	$("nav .active").removeClass("active");
	$("#nav-item-group").addClass("active");

	$('#deleteModal').on('show.bs.modal', function (event) {
	  var button = $(event.relatedTarget); // Button that triggered the modal
	  var grupa = button.data('groupname'); // Extract info from data-* attributes
	  var id = button.data("groupid");
	  var modal = $(this);
	  var newTitle = 'Jeste li sigurni da želite ukloniti grupu "' + grupa + '" ?';
	  modal.find('.modal-body p').text(newTitle);
	  $("#modalUrl").attr("href", "/group/delete/" + id);
	});
</script>