
body  {
  /*
  margin: 0 !important;
  font-size: 16px;
  color: #101010;*/

    
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    overflow-y: auto;


}

.table .thead-dark th{
  background-color: #343a40;
  font-weight: normal;
}

.icon{
  font-size: 20px;
  cursor: pointer;
}

.text-center{
  text-align: center;
}

.bot-margin{
  margin-bottom: 10px;
}

a, u {
    text-decoration: none !important;
}

/* header */
#site-header .navbar  {
  border-radius: 0;
  border: none;
  margin: 0;
}

/* main section */
#site-main  {
  padding-bottom: 50px;
  padding-top: 50px;
}



.full-width{
  width: 100%;
}

.center{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);"
}




.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    line-height: 60px;
    background-color: #343a40;
    text-align: center;
  }


a {
  color: #212529;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: #212529;
}

a:visited {
  color: #212529;
}

.buttonsRow{
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 320px) and (max-width: 480px) {
  
  .text-right{
    text-align: left !important;
  }

  .firstButton{
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 15px;
  }
  
}

.table-checkbox {
  cursor: pointer;
  width: 15px !important; 
  height: 15px  !important; 
}